/* Page background */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(136, 150, 167, 0.5),
            rgba(136, 150, 167, 0.5)), url('bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(136, 150, 167, 0.5) ;
}

/* Login box */
#log {
    background-color: #755d5d00;
    padding: 25px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Headings */
h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #333;
}

/* Fieldset cleanup */
fieldset {
    border-radius: 5px;
    padding: 40px;
    border: 1px solid #dddddd;
    margin-bottom: 20px;

}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #444;
    font-size: 17pt;
    width: auto;
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
}

/* Submit button */
input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #00000046;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
}


#lgin {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

table{
    padding: 5px;
    width: 100%;
    border-spacing: 10px;
}
th{
    text-align: left;
    padding: 5px;
}
td{
    padding: 5px;
}

#lgin {
    text-decoration: none;
    color: #1c2125;
    font-size: 14pt;
}