body {
    background-color: #111;
    color: #eee;
}

.navbar {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;

}

.navbar .logo {
    font-weight: bold;
    font-size: 18px;

}

.navbar nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 30px;

}

.navbar nav a:hover {
    color: aqua;

}


.container {
    padding: 40px;
}

.container h2 {
    margin-bottom: 20px;
}

.mission-section {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.box {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

.box h3,
.box h4 {
    margin-bottom: 10px;

}

.image-box {
    background: #ddd;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 5px;
}




.text {
    margin-top: 10px;
}

footer {
    background: #222;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;


}

.objectives {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.imgbl {
    height: 250px;
    width: 400px;
    margin: 30px auto;
    background: #ddd;
    color: #777;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}