body {
    background-color: #f2f2f2;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px;

}

.sidebar ul li :hover {
    background-color: aqua;

}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topbar input {
    padding: 8px;
    width: 250px;
}

.Report-Button {
    background: rgb(12, 139, 231);
    color: white;
    border: none;
    padding: 8px 15px;
}

.content {
    display: flex;
    gap: 20px;
}

.notifications {
    background: white;
    padding: 20px;
    flex: 2;
}

.card {
    background: #ecf0f1;
    padding: 15px;
    margin: 10px;
}



.filter {
    background: white;
    padding: 2px;
}

.filter label {
    display: block;
    margin: 8px 5px;

}

.filter-btns {
    margin-top: 15px;
}

.filter-btns button {

    margin-right: 10px;
    padding: 5px 10px;
    color: aqua;
    background: #2c3e50;

}