body {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 60px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
ul li a:hover {
    background-color: #54df317a;
}